@model IEnumerable<InventoryTracking.Models.ItemsModel>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemPrice)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.storeID)
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<head>
    <meta http-equiv="content-type" content="initial-scale=1.0" />
    <title>Google Maps Multiple Markers</title>
    <script src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 500px;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script type="text/javascript">
  var locations = [
    ['Store 123, 414-777-9311, Milwaukee, WI', 43.0388889, -87.9063889, 1],
    ['Store 456, 262-777-9311, Waukesha, WI', 43.01447, -88.23548, 2],
    ['Store 789, 608-777-9311, Madison, WI', 43.06707, -89.40105, 3],
    ['Store 111, 262-867-5309, OakCreek, WI', 42.8858333, -87.8630556, 4],
    ['Store 222, 414-867-5309, Shorewood, WI', 43.0891667, -87.8875, 5],
    
  ];

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: new google.maps.LatLng(43.01447, -88.23548),
    mapTypeId: google.maps.MapTypeId.HYBRID
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
    </script>
</body>
